<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
  <h1>상점 </h1>
<form form action="http://15.165.153.54:3000/content/settlement_carnum_re" method="post">
  <input type="text" id="car_number"  name="car_number" placeholder="차량번호" >
  <input type="submit">
</form>

</body>
</html>
