<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
</head>
<body>

  <div>
    <canvas id="myChart"></canvas>
  </div>

  <script>

    const labels = [
  '00:00',
  '01:00',
  '02:00',
  '03:00',
  '04:00',
  '05:00',
  '06:00',
  '07:00',
  '08:00',
  '09:00',
  '10:00',
  '11:00',
  '12:00',
  '13:00',
  '14:00',
  '15:00',
  '16:00',
  '17:00',
  '18:00',
  '19:00',
  '20:00',
  '21:00',
  '22:00',
  '23:00',


];

const data = {
  labels: labels,
  datasets: [{
    label: '시간별 유휴공간',
    backgroundColor: '#5f74a0',
    borderColor: '#5f74a0',
    data: [
    3,
    2,
    3,
    4,
    5,
    4,
    8,
    13,
    16,
    25,
    25,
    23,
    20,
    19,
    26,
    <%=response.data[15][0]['30-count(*)']%>,
    <%=response.data[16][0]['30-count(*)']%>,
    20,
    <%=response.data[18][0]['30-count(*)']%>,
    10,
    1,
    5,
    2,
    4
    ],
  }]
};

const config = {
  type: 'line',
  data: data,
  options: {}
};

const myChart = new Chart(
  document.getElementById('myChart'),
  config
);


  </script>

</body>
</html>
