<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/pu.css"/>

    <style>
      ::-webkit-scrollbar{width: 8px; height: 8px;}
      ::-webkit-scrollbar-track{background-color: #ffffff;}
      ::-webkit-scrollbar-thumb{background-color: #D3D3D3; border-radius: 7px;}
    </style>

</head>
<body>
  <div class="x18" style="left: 0px">
  <table id="keywords" cellspacing="0" cellpadding="0">
    <thead>
      <tr>
      <th>유형</th>
      <th>대수</th>
      <th>시간</th>
      <th>돈</th>
      <th>비고</th>
    </tr>
    </thead>


          <tr>
              <td>개인</td> 
              <td>6</td> 
              <td>70</td> 
              <td>35000</td> 
              <td></td>
          </tr>

          <tr>
            <td>꿈다락</td> 
            <td>10</td> 
            <td>150</td> 
            <td>75000</td> 
            <td></td>
          </tr>

          <tr>
            <td>방배골</td> 
            <td>15</td> 
            <td>200</td> 
            <td>100000</td> 
            <td></td>
          </tr>




  </table>
  </div>
</body>
</html>
