<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/top.css"/>
</head>
<body> -->

    <!-- <div class="nav" >
        <ul class="parent">

            <img class="image" src="/img/my.png" />
            <from action="http://15.165.153.54:3000/logout" method="GET" class="logout">

              <input type="submit"/>
            </from>


        <li ><a style="margin-top: 145px; height: 65px;" href="/manager/parking_status">
            <img class="image-1" src="/img/status.png" />
            <div class="text-1" style="left: 34px; margin-top: 55px;">주차현황</div></a></li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/calculate">
            <img class="image-1" src="/img/calculate.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">정산</div></a></li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/statistics">
            <img class="image-1" src="/img/statistics.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">통계</div></a>
            <ul class="child">
                <li><a href="/manager/statistics">유휴공간</a></li>
                <li><a href="/manager/profit">수익관리</a></li>
            </ul>

        </li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/member">
            <img class="image-1" src="/img/registration.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">등록</div></a>

            <ul class="child">
                <li><a href="/manager/member">입주민</a></li>
                <li><a href="/manager/visitor">방문객</a></li>
                <li><a href="/manager/store">상점</a></li>
            </ul>

        </li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/setting">
            <img class="image-1" src="/img/setting.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">설정</div></a>
          </li>
        </ul>

      </div> -->




      <!-- 메뉴 -->
  <!-- <div class="nav"  >

    <ul  class="parent">
        <img class="image" src="/img/my.png" />
      <div class="logout">LOGOUT</div>
    <li style="width: 100px;"><a style="margin-top: 135px; width: 100px; height: 90px;" href="/manager/parking_status">
      <img class="image-1" src="/img/status.png" />
        <div class="text-1" style="left: 34px; margin-top: 55px;">주차현황</div></a></li>

    <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="/manager/calculate">
      <img class="image-1" src="/img/calculate.png" />
        <div class="text-1" style="left: 42px; margin-top: 55px;">정산</div></a></li>

    <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="/manager/statistics">
      <img class="image-1" src="/img/statistics.png" />
        <div class="text-1" style="left: 42px; margin-top: 55px;">통계</div></a>

        <ul class="child">
            <li><a href="/manager/statistics">유휴공간</a></li>
            <li><a href="/manager/profit">수익관리</a></li>
        </ul>


    </li>

    <li style="width: 100px;" ><a style="margin-top: 50px; width: 100px; height: 90px;" href="#">
      <img class="image-1" src="/img/registration.png" />
        <div class="text-1" style="left: 42px; margin-top: 55px;">등록</div></a>

        <ul class="child">
            <li><a href="/manager/member">입주민</a></li>
            <li><a href="/manager/visitor">방문객</a></li>
            <li><a href="/manager/store">상점</a></li>
        </ul>

    </li>

    <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="#"> <img class="image-1" src="/img/setting.png" />
        <div class="text-1" style="left: 42px; margin-top: 55px;">설정</div></a></li>


    </ul>
  </div> -->



<!-- </body>
</html> -->




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/menu.css"/>
    <link rel="stylesheet" href="css/sb.css"/>
</head>
<body  style="background-color: #f1f1f1;background-color: #f1f1f1;margin-top: 0px;margin-left: 0px;margin-right: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;">

    <div class="nav"  >

        <ul class="parent">
            <img class="image" src="/img/my.png" />
          <div class="logout">LOGOUT</div>
        <li  ><a style="margin-top: 145px; height: 65px;" href="/manager/parking_status">
          <img class="image-1" src="/img/status.png" />
            <div class="text-1" style="left: 34px; margin-top: 55px;">주차현황</div></a></li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/calculate">
          <img class="image-1" src="/img/calculate.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">정산</div></a></li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/statistics">
          <img class="image-1" src="/img/statistics.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">통계</div></a>
            <ul style="width: 170px; margin-top:-345px; background: linear-gradient( to left, #629ECF, #735B92 );" class="child">
                <li><a style=" margin-top: 350px; " href="/manager/statistics">유휴공간</a></li>
                <hr style="width: 130px; color:#fff">
                <li><a style=" " href="/manager/profit">수익관리</a></li>
                <hr style="width: 130px; color:#fff">

            </ul>

          </li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/member"> <img class="image-1" src="/img/registration.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">등록</div></a>

            <ul style="width: 170px; margin-top:-445px; background: linear-gradient( to left, #629ECF, #735B92 );" class="child">
                <li><a style=" margin-top: 400px; " href="/manager/member">입주민</a></li>
                <hr style="width: 130px; color:#fff">
                <li><a style=" " href="/manager/visitor">방문객</a></li>
                <hr style="width: 130px; color:#fff">
                <li><a style=" " href="/manager/store">상점</a></li>
                <hr style="width: 130px; color:#fff">
            </ul>

        </li>

        <li ><a style="margin-top: 15px; height: 65px;" href="/manager/setting"> <img class="image-1" src="/img/setting.png" />
            <div class="text-1" style="left: 42px; margin-top: 55px;">설정</div></a></li>


        </ul>

      </div>
</body>
</html>
