<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>



<!-- 링크 -->
<link rel="stylesheet" href="/css/menu2.css"/>
<link rel="stylesheet" href="/css/pu.css"/>



</head>
<body style=" background-color: #f1f1f1;background-color: #f1f1f1;margin-top: 0px;margin-left: 0px;margin-right: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;">

<!-- 메뉴 -->
  <div class="nav"  >

    <ul  class="parent">
        <img class="image" src="/img/my.png" />
      <div class="logout">LOGOUT</div>

    <li style="width: 100px;"><a style="margin-top: 150px; width: 100px; height: 90px;" href="/store/store_calculate"> <img class="image-1" src="/img/calculate.png" />
        <div class="text-1" style="left: 42px; margin-top: 55px;">정산</div></a></li>

    <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="/store/store_statistics"> <img class="image-1" src="/img/statistics.png"  />
        <div class="text-1" style="left: 42px; margin-top: 55px;">통계</div></a></li>


    </ul>

  </div>




</body>
</html>
