<div class="nav"  >

  <ul  class="parent">
      <img class="image" src="/img/my.png" />
    <div class="logout">LOGOUT</div>
  <li style="width: 100px;"><a style="margin-top: 135px; width: 100px; height: 90px;" href="/manager/parking_status"> <img class="image-1" src="/img/status.png" />
      <div class="text-1" style="left: 34px; margin-top: 55px;">주차현황</div></a></li>

  <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="/manager/calculate"> <img class="image-1" src="/img/calculate.png" />
      <div class="text-1" style="left: 42px; margin-top: 55px;">정산</div></a></li>

  <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="/manager/statistics"> <img class="image-1" src="/img/statistics.png" />
      <div class="text-1" style="left: 42px; margin-top: 55px;">통계</div></a>

      <ul style="width: 170px; margin-top:-335px; background: linear-gradient( to left, #629ECF, #735B92 );" class="child">
          <li><a style="width: 170px; margin-top: 350px; " href="/manager/statistics">유휴공간</a></li>
          <hr style="width: 130px; color:#fff">
        <li><a style="width: 170px; " href="/manager/profit">수익관리</a></li>
        <hr style="width: 130px; color:#fff">

      </ul>
    </li>

  <li style="width: 100px;" ><a style="margin-top: 50px; width: 100px; height: 90px;" href="/manager/member"> <img class="image-1" src="/img/registration.png" />
      <div class="text-1" style="left: 42px; margin-top: 55px;">등록</div></a>
      <ul style="width: 170px; margin-top:-435px; background: linear-gradient( to left, #629ECF, #735B92 );" class="child">
          <li><a style=" width: 170px; margin-top: 400px; " href="/manager/member">입주민</a></li>
          <hr style="width: 130px; color:#fff">
        <li><a style=" width: 170px;" href="/manager/visitor">방문객</a></li>
        <hr style="width: 130px; color:#fff">
        <li><a style="width: 170px; " href="/manager/store">상점</a></li>
        <hr style="width: 130px; color:#fff">
      </ul>


  </li>

  <li style="width: 100px;"><a style="margin-top: 50px; width: 100px; height: 90px;" href="/manager/setting"> <img class="image-1" src="/img/setting.png" />
      <div class="text-1" style="left: 42px; margin-top: 55px;">설정</div></a></li>


  </ul>

</div>
