<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/menu.css"/>
    <link rel="stylesheet" href="/css/sb.css"/>
</head>
<body  style="background-color: #f1f1f1;background-color: #f1f1f1;margin-top: 0px;margin-left: 0px;margin-right: 0px;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;">
  <div class="overlap-group1" >
  <img class="x2" src="/img/logo2.png" onclick="re()"/>
  </div>

  <script>
  function re(){
    window.location.replace('http://15.165.153.54:3000/manager/');
  };
  </script>

</body>
</html>
