.num{
  border-radius: 15px;


    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #ccc;
    width: 150px;
    height: 35px;
    box-shadow: 0px 2px 5px
  #00000029;

}
.num1{
  border-radius: 15px;

    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #ccc;
    width: 355px;
    height: 35px;
    box-shadow: 0px 2px 5px
  #00000029;
}
